.backgroundColor {
  background-color: #000;
}

.output {
  text-align: center;
  font-size: 30px;
  color: #FFD700;
}

.header {
  white-space: nowrap;
  text-align: center;
  color: #FFD700;
}

.header2 {
  white-space: nowrap;
  text-align: center;
  color: #808080;
}

.searchInput {
  text-align: center;
}

.img-fluid {
  max-width: 300px;
  max-height: 300px;
}

.btn {
  display: inline-block;
}

.dropdown-toggle{
background-color: #FFD700;
}

.btn{
background-color:#FFD700;
}

.searched{
  color:#FFD700;
  position: absolute; bottom: 0px;
  position: absolute; right: 20px;
  font-size:20px;

}

.searchHistory{
color:#FFD700;
position: absolute; right: 0px;
position: absolute; bottom: 130px;
}
